[Unit]
Description=Flasher service

[Service]
ExecStart=/usr/sbin/flash
RemainAfterExit=yes
User = root
Group = root
Type=oneshot

[Install]
WantedBy=multi-user.target
